#neutralinoapp {
    /*text-align: center;*/
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
    height: 100%;
    width: 100%;
}

#neutralinoapp h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

#neutralinoapp > div {
    font-size: 16px;
    font-weight: normal;
}

:root {
    --background-color: #fff;
    --primaryColor: #d452f2;

    --text-color: #121416d8;
    --link-color: #543fd7;

    --primaryheader: gray;
}

html[data-theme='light'] {
    --background-color: #fff;
    --text-color: #121416d8;
    --link-color: #543fd7;
    --primaryheader: gray;
}

html[data-theme='dark'] {
    --background-color: #212a2e;
    --text-color: #F7F8F8;
    --link-color: #828fff;
    --primaryheader: black;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
    filter: brightness(80%);
}

.imgbtn{
    background:gray;
}

.imgbtn:hover{
    background:rgb(211, 211, 211);
}

.headerp{
    background: var(--primaryheader);
    color: var(--text-color)
}